<!-- form for admin to add new assignment -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>assignments.iwhoa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href"/assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<!--     <link href="/theme.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../public/assets/js/html5shiv.js"></script>
      <script src="../../public/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <br>
  <br>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/students">Syllabest</a>
          <a class="navbar-brand" href="/admin">Admin</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">
      <div class="page-header">


        <h1> Administrator </h1>

      </div>

      <p>
  <a href="/admin/new"><button type="button" class="btn btn-info btn-circle">NEW</button></a><p>
  <a href="/admin/assignments"><button type="button" class="btn btn-warning btn-circle">ASSIGNMENTS</button></a>
</p>
    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    <script src="/assets/dist/js/holder.js"></script>
  </body>
</html>
